div {
  border: 1px solid black
}

#app-containers {
  display: flex;
}

#ingredients-container {
  width: 50%;
}

#recipes-container {
  width: 50%;
}
#login-component {
  width: 20%
}

#invalid {
  color: red
}

#avatar {
  width: 10%;
  height: 10%;
}

 a:hover:not(.active)  {
  color: blue;
} 

#list {
  list-style-type: none; /* Remove bullets */
}

#profile-containers {
  display: flex;
}

#favorites-list-container {
  width: 50%;
}

#favorite-recipe-container {
  width: 50%;
}
#hover-li-favorites:hover {
color: blue;
}
