div {
  border: 1px solid black
}

#app-containers {
  display: flex;
}

#ingredients-container {
  width: 50%;
}

#recipes-container {
  width: 50%;
}
#login-component {
  width: 20%
}

#invalid {
  color: red
}

#avatar {
  width: 10%;
  height: 10%;
}

 a:hover:not(.active)  {
  color: blue;
} 
