div {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black; */
}

#app-containers {
  display: flex;
}

#ingredients-container {
  width: 50%;
  border: 10px solid lightgreen;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#recipes-container {
  justify-content: center;
  width: 50%;
  height: 80vh;
  border: 10px solid lightgreen;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  overflow-y: scroll;
}

.recipe-title {
  text-align: center;
}

.recipe-image {
  border: 1px solid white;
  border-radius: 3px;
  width: fit-content;
  align-self: center;
}

#login-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  /* width: 20%; */
  border: 10px solid lightgreen;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#invalid {
  color: red
}

#avatar {
  width: 10%;
  height: 10%;
}

 a:hover:not(.active)  {
  color: blue;
} 

#list {
  list-style-type: none; /* Remove bullets */
}

#profile-containers {
  display: flex;
}

#favorites-list-container {
  width: 50%;
}

#favorite-recipe-container {
  width: 50%;
}
#hover-li-favorites:hover {
color: blue;
}
#nav-bar-avatar {
  width: auto;
  height: 100%;
  border: 1px solid brown;
  border-radius: 3px;
  float: right;
}

#navBar {
  /* display: flex;
  flex-direction: row; */
  height: 10vh;
  background-color: rgb(255, 180, 118);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.buttonHolder{ text-align: center; }

#used-list {
  border: 3px solid lightgreen;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.ingredient {
  background-color: rgb(255, 180, 118);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: hidden;
  cursor: pointer;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 180, 118);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#search-recipe-btn {
  position: fixed;
  align-content: center;
}

#logo {
  width: auto;
  height: auto;
  max-height: 10vh;
  border: 1px solid brown;
  border-radius: 3px;
  background-color: white;
}

#profile-link {
  width: fit-content;
  text-align: center;
}

/* #logo-div {
  width: 10%;
} */

#avatar-container {
  display: flex;
  flex-flow: column;
  align-self: flex-end;
}